

<div class="col-md-8">
  <div class="card">
    <div class="card-body">
      <%= form_with model: @post, local: true do |f| %>
        <%= render 'devise/shared/error_messages', resource: @post %>
        <%= f.text_area :content, class: 'form-control' %><br>
        <%= f.submit 'New Post', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>