<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= link_to image_tag("logo.PNG", alt: "Always Luck MTG logo", width: "230"), 
                root_path, class:"logo" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav ml-auto">
        <% unless user_signed_in? %>

          <li class="nav-item active">
            <a class="nav-link hvr-fade" href="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link hvr-fade" href="/signup">Sign Up <span class="sr-only">(current)</span></a>
          </li>

        <% else %>

          <li class="nav-item active">
            <a class="nav-link hvr-fade" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link hvr-fade" href="/users">Users</a>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle hvr-fade" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %></a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item" data-method="delete">Log Out</a>
            </div>
          </li>

        <% end %>
      </ul>

    </div>
  </div>
</nav>